{{#each allProducts}}
    <div>
        <p>
            Title : {{this.title}}
        </p>
        <p>
            Description {{this.description}}
        </p>
        <p>
            Price{{this.price}}
        </p>
    </div>


{{/each}}